* {
  margin: 0;
  padding: 0;
}
body {
  cursor: none;
  width: 100%;
  height: 150vh;
  background-color: #eeeeee;
  overflow: hidden;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140vh;
  background-color: #eeeeee;

  /* background-color: rgb(205, 230, 13); */
}
#canvas1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;

  /* height: 140vh; */
}
.hand {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20vw;
  height: 40vh;
}
