* {
  margin: 0;
  padding: 0;
}
body {
  cursor: none;
  width: 100%;
  height: 150vh;
  /* background-color: #eeeeee; */
  overflow: hidden;
  background-color: #ffffea;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140vh;
  /* background-color: #eeeeee; */

  /* background-color: rgb(205, 230, 13); */
}
#canvas1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #eeeeee; */

  /* height: 140vh; */
}
.hand {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20vw;
  height: 40vh;
  transform: translate(-50%, 0);
  pointer-events: none;
  z-index: 1;
}

@keyframes timer {
  0% {
    --timer: 50;
  }
  3% {
    --timer: 49;
  }
  6% {
    --timer: 48;
  }
  8% {
    --timer: 47;
  }
  10% {
    --timer: 46;
  }
  12% {
    --timer: 45;
  }
  14% {
    --timer: 44;
  }
  16% {
    --timer: 43;
  }
  18% {
    --timer: 42;
  }
  20% {
    --timer: 41;
  }
  22% {
    --timer: 40;
  }
  24% {
    --timer: 39;
  }
  26% {
    --timer: 38;
  }
  28% {
    --timer: 37;
  }
  30% {
    --timer: 36;
  }
  32% {
    --timer: 35;
  }
  34% {
    --timer: 34;
  }
  36% {
    --timer: 33;
  }
  38% {
    --timer: 32;
  }
  40% {
    --timer: 31;
  }
  42% {
    --timer: 30;
  }

  44% {
    --timer: 29;
  }
  46% {
    --timer: 28;
  }
  48% {
    --timer: 27;
  }
  50% {
    --timer: 26;
  }
  52% {
    --timer: 25;
  }
  54% {
    --timer: 24;
  }
  56% {
    --timer: 23;
  }
  58% {
    --timer: 22;
  }
  60% {
    --timer: 21;
  }
  62% {
    --timer: 20;
  }
  64% {
    --timer: 19;
  }
  66% {
    --timer: 18;
  }

  68% {
    --timer: 17;
  }
  70% {
    --timer: 16;
  }
  72% {
    --timer: 15;
  }
  74% {
    --timer: 14;
  }
  76% {
    --timer: 13;
  }
  78% {
    --timer: 12;
  }

  80% {
    --timer: 11;
  }
  82% {
    --timer: 10;
  }
  84% {
    --timer: 9;
  }
  86% {
    --timer: 8;
  }
  88% {
    --timer: 7;
  }

  90% {
    --timer: 6;
  }
  92% {
    --timer: 6;
  }
  94% {
    --timer: 5;
  }
  96% {
    --timer: 3;
  }
  98% {
    --timer: 1;
  }
  100% {
    --timer: 0;
  }
}

#timer {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2rem;
  height: 2rem;
  text-align: center;
  animation: timer 47s linear;
  mix-blend-mode: difference;
  font-size: 1.5rem;
  width: 100%;
  color: white;
  background: black;
}

@keyframes timeline {
  0% {
    width: 100%;
    background: green;
  }
  50% {
    width: 50%;
    brackground: orange;
  }
  100% {
    width: 0%;
    background: red;
  }
}

#timer::before {
  content: "";
  width: 100%;
  background: lightgreen;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: timeline 47s linear;
  animation-fill-mode: forwards;
}

#timer::after {
  counter-reset: timer var(--timer);
  content: counter(timer);
  font-weight: bold;
}

#canvas {
  width: 100%;
  height: 100%;
  transform: rotateX(60deg);
  transform-style: preserve-3d;
}

/* input {
  position: absolute;
  top: -1000in;
  left: -1000in;
} */

@keyframes showResults {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100vw;
    height: 100vh;
  }
}
#results {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  animation: showResults 0.25s linear;
  animation-fill-mode: forwards;
  animation-delay: 47s;
  /* z-index: 1; */
}

#title {
  transform-origin: top center;
  color: #eef7ff;
  transform: rotateX(-60deg) translate(0, 1vmin);
  background: #369;
  background: linear-gradient(#369, #123);
  box-shadow: 0 0 0 1vmin black;
  padding: 2vmin;
  font-size: 7vmin;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #ffed66;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff5e5b;
  box-shadow: 0 3px 0 #ff5e5b;
  cursor: pointer;
  transition: all 100ms linear;
  margin-top: 30px;
}
.btn:hover {
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 7px 0 #ff5e5b;
}
.btn:focus {
  outline: 0;
}
